.alert-style {
  display: flex;
  justify-content: center;
  width: 31%;
  padding: 8px;
  margin-left: 25vw;
}
.center-button {
  display: flex !important;
  justify-content: center !important;
  margin-left: 30% !important;
}
.mycontent-left {
  border-right: 2px solid rgb(238, 6, 6);
}
